/* 重置默认的margin和padding */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body, html {
    width: 100%;
    height: 100%;
}

.top-head {
    width: 100%;
    height: 2rem;
    background-color: #F0F0F0;
    top: 0;
    left: 0;
    z-index: 999;
    line-height: 2em;
    color: #373B3C;
    font-size: 0.8rem;
}


a {
    text-decoration: none;
}

.div-hover {
    position: absolute;
    top: 26px;
    color: #626262;
    background-color: #f1f1f1;
    box-shadow: 0 0 10px #888888;
    display: none;
    z-index: 99;
    padding: 5px 15px;
}

.div-hover-top {
    color: #333333;
    vertical-align: middle;
}

.div-hover-top:hover ~ .div-hover, .div-hover:hover {
    display: block;
}

.head-content {
    margin: 50px auto;
    display: flex;
    justify-content: space-between;
    flex-wrap: nowrap;
    width: 100%;
    /*align-items: center;*/
}

/*div{*/
/*    border: 1px solid blue;*/
/*}*/

.search-input {
    /*红色边框*/
    border: 2px solid #E2231A;
    width: 500px;
    height: 40px;
}

.search-input:focus {
    outline: none;
    text-indent: 1em;
}

.search-button {
    /*红色边框*/
    border: 2px solid #E2231A;
    width: 80px;
    height: 40px;
    background-color: #E2231A;
    color: white;
}

.search-button:hover {
    background-color: #B61B16;
    cursor: pointer;
}

.search-form {
    top: 80px;
    left: 500px;
    width: 600px;
    clear: both;
}

.search-input::placeholder {
    text-indent: 1em;
    font-size: smaller;
}

.search-form a {
    color: grey;
    font-size: 5px;
    margin-left: 5px;
}

.car-button {
    width: 120px;
    height: 35px;
    background-color: #F6F6F6;
    color: #626262;
    border: 1px solid #c8c8c8;
    text-align: center;
    line-height: 35px;
    font-size: smaller;
    overflow: hidden;
    margin-right: 10%;
}


.car-button:hover {
    background-color: #E2231A;
    color: white;
    cursor: pointer;
}

.footer-content {
    clear: both;
    display: flex;
    justify-content: space-between;
    width: 70%;
    margin: 0 auto;
}


.footer-content-child {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.footer-content-child-title {
    margin-top: 15%;
}

.footer-content-child-content {
    font-size: 0.8rem;
    margin-bottom: 0.5rem;
    color: #888888;
}

.img-rotate-scale:hover {
    transform: scale(1.2) rotate(360deg);
    transition: all 1s;
    cursor: pointer;
}

footer {
    clear: both;
    width: 1500px;
    margin: 70px auto;
}

.footer-footer {
    display: flex;
    justify-content: space-between;
    margin-top: 10%;
}

/*div{*/
/*    border: 1px solid blue;*/
/*}*/

.footer-left {
    margin-right: auto;
    display: flex;
    width: 60%;
    margin-left: 50px;
    justify-content: space-between;
    align-items: flex-start;

}

.footer-left-child {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    line-height: 100%;

}

.footer-left-child-head ~ div:hover {
    color: #E2231A;
    cursor: pointer;
}

.footer-left-child-head {
    font-size: 120%;
    margin-bottom: 15%;
}

.footer-left-child-head ~ div {
    color: #888888;
    margin-top: 10%;
}


.qr-child {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    color: #626262;
    line-height: 250%;
}

.qr {
    display: flex;
    justify-content: center;
    width: 30%;
    position: relative;
    right: 35px;
    bottom: 20px;
}

/*div{*/
/*    border: 1px solid blue;*/
/*}*/

/*ul {*/
/*    display: flex;*/
/*    justify-content: space-between;*/
/*    list-style: none;*/
/*}*/

nav {
    width: 100%;
    margin: 0 auto;
    border-bottom: 2px solid #E35817;

}

.nav {
    width: 80%;
    display: flex;
    margin-left: -6px;
    justify-content: flex-start;


}

.nav > li {
    display: flex;
    height: 40px;
    width: 200px;
    align-items: center;
    font-weight: bold;
    margin-left: 1%;

}

.nav > li:hover {
    color: #E2231A;
    cursor: pointer;
}

.main-content {
    width: 1500px;
    margin: 0 auto;
    /*border: 1px solid #51a111;*/
    position: relative;
}

.content-fun {
    margin-top: -0.25%;
    display: flex;
    justify-content: flex-start;
    position: relative;
}

.sep-ul {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background-color: #A62523;
    list-style: none;
    width: 150%;
    height: 100%;
    /*border: 1px solid #7cef1e;*/
    margin-top: 2%;
    position: relative;

}

.sep-ul > li {
    color: white;
    height: 50px;
    margin-left: 5%;
    display: flex;
    align-items: center;
}

.sep-ul > li:hover {
    cursor: pointer;
    transform: translate(38px, 0);
    transition: all 0.5s;
}


.sep-ul-first-div {
    color: white;
    margin-left: 2%;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 3%;
    width: 3%;
    margin-right: 8%;
}


.sep-arrow {
    position: absolute;
    /*left: 20%;*/
    float: right;
    margin-left: 220px;
}

/*div{*/
/*    border: 1px solid blue;*/
/*}*/

.center-pic {
    position: relative;
    left: 95px;
    top: 4px;
    height: 504px;
    width: 950px;
    background-color: #3fa9f5;
    background-image: url("../../resource/images/ban1.jpg");
    background-size: 100% 100%;
}

.horizontal-li > li {
    display: inline-block;
    list-style: none;
    position: relative;
}

.horizontal-li > li > div:hover {
    cursor: pointer;
    color: #E2231A;
}

.circle-li > li > div {
    height: 22px;
    width: 22px;
    text-align: center;
    border-radius: 50%;
    background-color: white;
}

.li-img {
    position: absolute;
    top: 0;
    left: 0;
    height: 504px;
    width: 950px;
}

.li-div {
    z-index: 9;
}

.news {
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
    border: 1px solid #c8c8c8;
    position: absolute;
    margin-top: 1px;
    right: 1px;
    top: 1px;
    width: 250px;
}

.news-content {
    line-height: 40px;
}

.news-content > div:hover {
    cursor: pointer;
    color: #E2231A;
}

/*div{*/
/*    border: 1px solid blue;*/
/*}*/

.pic-group {
    display: flex;
    justify-content: space-between;
    width: 70%;
    margin-right: 10px;
    position: relative;
}

.pic-group > div {
    display: flex;
    flex-direction: column;
    text-align: center;
    border: 1px solid #c8c8c8;
    width: 25%;
}

.pic-group > div:hover {
    cursor: pointer;
    box-shadow: 0 0 10px #888888;
}

.pic-group > div:hover >  img {
    transform: scale(1.03);
    transition: 0.5s all;
}

.pic-group > div > p {
    color: grey;
}

.pic-group > div > span {
    color: red;
}

.gtlt {
    background-color: #333333;
    color: white;
    opacity: 50%;
    height: 50px;
    position: absolute;
    text-align: center;
    top: 40%;
    line-height: 50px;
}

.gtlt:hover {
    cursor: pointer;
    opacity: 100%;
}

.grey-a > a {
    color: grey;
    text-decoration: none;
}

.grey-a > a:hover {
    color: #E2231A;
}

.fresh-left {
    display: flex;
    flex-direction: column;
    width: 20%;
    margin-right: 10px;
    position: relative;
    background-color: #E5F7EB;
}

.fresh-left > .grey-a > a {
    margin-left: 5%;
}

.fresh-right {
    display: inline-block;
    width: 75%;
    margin-right: 10px;
    position: relative;
}

.fresh-right > div {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    text-align: center;
    margin: 0 auto;
    width: 25%;
    height: 50%;
    border-bottom: 1px solid #c8c8c8;
    border-right: 1px solid #c8c8c8;
    float: left;
}

.fresh-right > div:hover >img {
    transform: scale(1.05);
    transition: all 0.5s;
}

.fresh-right > div:hover {
    cursor: pointer;
    box-shadow: 0 0 10px #888888;
}


/*div {*/
/*    border: 1px solid blue;*/
/*}*/

.fresh-main {
    margin: 30px auto;
    display: flex;
    justify-content: space-between;
    width: 100%;
}

.grey-font {
    color: grey;
    font-size: 15px;
}

.orangered-font {
    color: orangered;
    font-size: 15px;
}