.search-table {
    width: 100%;
    height: 100%;
    /*border-collapse: collapse;*/
    /*border: 1px solid #E2231A;*/
    border-collapse: collapse;
    color: #818181;
}

.search-table > tbody > tr {
    line-height: 40px;
    border: 1px solid #9d9d9d;
}

.search-table > tbody > tr > td > span {
    margin-right: 40px;
}

.search-table > tbody > tr > td > span:hover {
    cursor: pointer;
    color: red;
}

.orangered-button {
    color: grey;
    padding: 0 30px;
    margin: 0 auto;
    font-size: 14px;
    cursor: pointer;
    border: 1px solid #dcdcdc;
    display: inline-block;
    height: 35px;
    line-height: 35px;
    float: left;
}

.search-detail-content {
    width: 83%;
    height: 100%;
    border-collapse: collapse;
    border: 1px solid #dcdcdc;
    color: #818181;
    float: left;
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-items: center;
}

.search-detail-content > div {
    height: 340px;
    width: 250px;
    /*border: 1px solid #1c63e7;*/
    margin-right: 50px;
    margin-top: 10px;
    margin-bottom: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    line-height: 30px;
}

.search-detail-content-button {
    border: 1px solid #a2a2a2;
    padding: 0 10px;
}
.search-detail-content-button:hover {
    cursor: pointer;
    background-color: orangered;
}
